<style>
  article.bootcamp-detail .container {
    margin: 10px auto 10px auto;
  }
  article.bootcamp-detail th {
    border-color: #9DCCBF;
  }
  article.bootcamp-detail td {
    text-align: center;
    border-color: #9DCCBF;
  }
  article.bootcamp-detail img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #cfd8dc;
    display: block;
    margin: auto;
  }

  article.bootcamp-prerequisite {
    color: #37474f;
  }
  article.bootcamp-prerequisite table {
    margin-top: 10px;
  }
  article.bootcamp-prerequisite th {
    border-color: #ffffff;
  }
  article.bootcamp-prerequisite td {
    text-align: center;
    border-color: #ffffff;
  }

  article.bootcamp-space img {
    width: 100%;
    margin: 10px;
    border: solid 1px;
  }

  article.bootcamp-project-description section div {
    padding: 3px;
    border: solid 1px;
    margin: 5px;
    text-align: center;
  }
  article.bootcamp-project-description section .name {
    font-weight: 400;
  }
  article.bootcamp-project-description section .desc {
    min-height: 150px;
  }

  article.bootcamp-camp-description section {
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    min-height: 200px;
    text-align: center;
  }

  article.bootcamp-price .row {
    margin: 10px;
  }
  article.bootcamp-price .name {
    text-align: right;
    font-weight: 400;
  }
  article.bootcamp-price .box {
    padding: 5px;
    border: solid 1px;
  }
</style>

{{> body/header-bootcamp}}
<main>
  <article class="head dark">
    <div class="container">
      <h2>Project Base Bootcamp</h2>
      <h3>Headstart Bootcamp 에서 제공하는 모든 Project는 현직 Data Scientist 에게 검증받은 실전 지향적 Project 입니다.</h3>
    </div>
  </article>
  <article class="bootcamp-detail light">
    <div class="container">
      <h2>Bootcamp Details</h2>
      <table class="default">
        <tr>
          <th>
            기 간
          </th>
          <td>
            {{{campStart}}} ~ {{{campEnd}}}
          </td>
        </tr>
        <tr>
          <th>
            장 소
          </th>
          <td>
            {{{location}}}
          </td>
        </tr>
        <tr>
          <th>
            일 정
          </th>
          <td>
            {{{scheduleBrief}}}
          </td>
        </tr>
        <tr>
          <th>
            인 원
          </th>
          <td>
            {{{person}}}
          </td>
        </tr>
        <tr>
          <th>
            Project List
          </th>
          <td>
            {{{projectList}}}
          </td>
        </tr>
        <tr>
          <th>
            준비물
          </th>
          <td>
            {{{supplies}}}
          </td>
        </tr>
        <tr>
          <td colspan="2" style="border: none;">
            <h2 class="left">Instructor</h2>
          </td>
        </tr>
        <tr>
          <th style="border: none;">
            <img src="{{{instructorPicture}}}" />
          </th>
          <td rowspan="2">
            {{{instructorCareer}}}
          </td>
        </tr>
        <tr>
          <th style="border: none;">
            <h3>
              {{{instructorName}}}
            </h3>
          </th>
        </tr>
      </table>
    </div>
  </article>
  <article class="bootcamp-prerequisite till">
    <div class="container">
      <h2 class="left">Prerequisite</h2>
      <ul>
        <li>경력 및 경험</li>
        <li>사전 요구되는 기술 및 지식</li>
      </ul>
      {{#each bootcampPrerequisites}}
        <div class="row">
          {{#each this}}
            <div class="col-md-4">
              <table class="default">
                <tr>
                  <th>
                    {{{this.name}}}
                  </th>
                </tr>
                <tr>
                  <td>
                    {{{this.description}}}
                  </td>
                </tr>
              </table>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </article>
  <div class="container">
    <hr/>
  </div>
  <article class="bootcamp-project-description light">
    <div class="container">
      <h2 class="left">Project Description</h2>
      {{#each projectDescription}}
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <section>
            <div class="name">
              {{this.[0].name}}
            </div>
            <div class="desc">
              {{{this.[0].description}}}
            </div>
          </section>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
        {{#if this.[1]}}
          <section>
            <div class="name">
              {{this.[1].name}}
            </div>
            <div class="desc">
              {{{this.[1].description}}}
            </div>
          </section>
        {{/if}}
        </div>
        <div class="col-md-1"></div>
      </div>
      {{/each}}
    </div>
  </article>
  <div class="container">
    <hr/>
  </div>
  <article class="bootcamp-camp-description light">
    <div class="container">
      <h2 class="left">Bootcamp Description</h2>
      <p>Bootcamp 진행 내용과 실제 Job Description 의 매칭 정도를 직접 확인하세요.</p>
      <div class="row">
        <div class="col-md-4">
          {{#if bootcampDescription.[0]}}
          <section>
            {{{bootcampDescription.[0]}}}
          </section>
          {{/if}}
        </div>
        <div class="col-md-4">
          {{#if bootcampDescription.[1]}}
          <section>
            {{{bootcampDescription.[1]}}}
          </section>
          {{/if}}
        </div>
        <div class="col-md-4">
          {{#if bootcampDescription.[2]}}
          <section>
            {{{bootcampDescription.[2]}}}
          </section>
          {{/if}}
        </div>
      </div>
    </div>
  </article>
  <!--<div class="container">-->
    <!--<hr/>-->
  <!--</div>-->
  <article class="bootcamp-price dark">
    <div class="container">
      <h2 class="left">Bootcamp Description</h2>
      <div class="row">
        <div class="col-md-4 name">
          캠프 일정 :
        </div>
        <div class="col-md-4">
          {{#each schedule}}
            <p>{{{this}}}</p>
          {{/each}}
          <h3>총 가격 : {{price}}</h3>
        </div>
        <div class="col-md-4">
          <div class="box">
            <ul>
              {{#each including}}
                <li>{{{this}}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
  <!--<div class="container">-->
    <!--<hr/>-->
  <!--</div>-->
  <article class="dark">
    <a href="/bootcamp/{{id}}/apply"><button class="btn btn-default btn-large">Apply Now</button></a>
  </article>
</main>
