<style>
  article.bootcamp-detail .container {
    margin: 10px auto 10px auto;
  }
  article.bootcamp-detail th {
    border-color: #9DCCBF;
  }
  article.bootcamp-detail td {
    text-align: center;
    border-color: #9DCCBF;
  }
  article.bootcamp-detail li {
    text-align: left;
  }
  article.bootcamp-detail img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #cfd8dc;
    display: block;
    margin: auto;
  }

  article.bootcamp-prerequisite {
    color: #37474f;
  }
  article.bootcamp-prerequisite table {
    margin-top: 10px;
  }
  article.bootcamp-prerequisite th {
    border-color: #ffffff;
  }
  article.bootcamp-prerequisite td {
    text-align: center;
    border-color: #ffffff;
  }

  article.bootcamp-expected-result img {
    width: 100%;
    margin: 10px;
    border: solid 1px;
    max-height: 200px;
  }

  article.bootcamp-description-chart .wrapper {
    background-color: #ffffff;
    color: #37474f;
    padding: 10px;
    min-height: 492px;
    margin-top: 20px;
  }
  article.bootcamp-description-chart hr {
    width: 30px;
    border: none;
    height: 3px;
    color: #37474f;
    background-color: #37474f;
  }

  article.bootcamp-curriculum .wrapper {
    padding: 10px;
    border: solid 1px;
    min-height: 250px;
    margin-top: 10px;
  }

  article.bootcamp-price .row {
    margin: 10px;
  }
  article.bootcamp-price .name {
    text-align: right;
    font-weight: 400;
  }
  article.bootcamp-price .box {
    padding: 5px;
    border: solid 1px;
  }
</style>

{{> body/header-bootcamp}}
<main>
  <article class="head dark">
    <div class="container">
      <h2>Project Base Bootcamp</h2>
      <h3>Headstart Bootcamp 에서 제공하는 모든 Project는 현직 Data Scientist 에게 검증받은 실전 지향적 Project 입니다.</h3>
    </div>
  </article>
  <article class="bootcamp-detail light">
    <div class="container">
      <h2>Bootcamp Details</h2>
      <table class="default">
        <tr>
          <th>
            기 간
          </th>
          <td>
            {{{campStart}}} ~ {{{campEnd}}}
          </td>
        </tr>
        <tr>
          <th>
            장 소
          </th>
          <td>
            {{{location}}}
          </td>
        </tr>
        <tr>
          <th>
            일 정
          </th>
          <td>
            {{{scheduleBrief}}}
          </td>
        </tr>
        <tr>
          <th>
            인 원
          </th>
          <td>
            {{{person}}}
          </td>
        </tr>
        <tr>
          <th>
            Project List
          </th>
          <td>
            {{{projectList}}}
          </td>
        </tr>
        <tr>
          <th>
            준비물
          </th>
          <td>
            {{{supplies}}}
          </td>
        </tr>
        <tr>
          <td colspan="2" style="border: none;">
            <h2 class="left">Instructor</h2>
          </td>
        </tr>
        <tr>
          <th style="border: none;">
            <img src="{{{instructorPicture}}}" />
          </th>
          <td rowspan="2">
            <ul>
              {{#each instructorCareer}}
                <li>{{{this}}}</li>
              {{/each}}
            </ul>
          </td>
        </tr>
        <tr>
          <th style="border: none;">
            <h3>
              {{{instructorName}}}
            </h3>
          </th>
        </tr>
      </table>
    </div>
  </article>
  <article class="bootcamp-prerequisite till">
    <div class="container">
      <h2 class="left">Prerequisite</h2>
      <ul>
        <li>Pre-Couses 과정 수행</li>
      </ul>
      {{#each bootcampPrerequisites}}
        <div class="row">
          {{#each this}}
            <div class="col-md-6">
              <table class="default">
                <tr>
                  <th>
                    {{{this.name}}}
                  </th>
                </tr>
                <tr>
                  <td>
                    {{{this.description}}}
                  </td>
                </tr>
              </table>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </article>

  <article class="bootcamp-description-chart dark">
    <div class="container">
      <h2>Headstart Project Description Chart</h2>
      <div class="row">
        {{#each descriptionChart}}
          <div class="col-md-4">
            <div class="wrapper">
              <hr/>
              <h3>{{this.title}}</h3>
              <p class="position">Position : {{this.position}}</p>
              <p class="requirement">{{this.requirement}}</p>
              <ul>
                {{#each this.requirementList}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/each}}
      </div>
      <h4>Bootcamp 진행 내용과 실제 Job Description 의 매칭 정도를 직접 확인하세요.</h4>
    </div>
  </article>

  <article class="bootcamp-expected-result light">
    <div class="container">
      <h2 class="left">
        Expected Result
      </h2>
      <div class="row">
        {{#each expectedResult}}
          <div class="col-md-4">
            <img src="{{this}}" />
          </div>
        {{/each}}
      </div>
    </div>
  </article>

  <article class="bootcamp-curriculum light">
    <div class="container">
      <h2>Bootcamp Curriculum & Schedule</h2>
      <div class="row">
        {{#each curriculum}}
          <div class="col-md-3">
            <div class="wrapper">
              <h3>{{this.title}}</h3>
              <h4>{{this.subTitle}}</h4>
              <p class="item">
                {{{this.item}}}
              </p>
            </div>
          </div>
        {{/each}}
      </div>
      참여자 역할 및 특이 요청 사항 : P.L, Domain 전문가, 발표자, 분석가
    </div>
  </article>

  <article class="bootcamp-price dark">
    <div class="container">
      <h2 class="left">Bootcamp Description</h2>
      <div class="row">
        <div class="col-md-4 name">
          캠프 일정 :
        </div>
        <div class="col-md-4">
          {{#each schedule}}
            <p>{{{this}}}</p>
          {{/each}}
          <h3>총 가격 : {{price}}</h3>
        </div>
        <div class="col-md-4">
          <div class="box">
            <ul>
              {{#each including}}
                <li>{{{this}}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="dark">
    <a href="/bootcamp/{{id}}/apply"><button class="btn btn-default btn-large">Apply Now</button></a>
  </article>
</main>
